@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
}

body {
  display: grid;
  place-content: center;
  background: #10141e;
}

#container {
  min-height: 667px;
  width: 375px;
  margin-bottom: 2rem;
}

/*! nav ----------------------------------------------------- */

nav {
  width: 375px;
  height: 49px;
  background: #161d2f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

#logo_img,
#nav_icons_container,
#imagem_usuario {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

nav #nav_icons_container {
  display: flex;
  column-gap: 24px;
}

#nav_icons_container img {
  width: 16px;
}

#logo_img {
  width: 25px;
  height: 17.5px;
}

#imagem_usuario {
  width: 24px;
  height: 21px;
}

/* ! Search bar -------------------------------------------------- */

#container_pesquisa {
  width: 257px;
  height: 24px;
  margin: 31px 0 24px 16px;
  display: flex;
}

#search_input {
  margin-left: 19px;
  width: 250px;
  font-size: 1rem;
  font-weight: 300;
  background: none;
  border: none;
  color: white;
  opacity: 0.5;
}

#search_input:focus {
  color: white;
  opacity: 1;
  border: none;
  outline: none;
}

/* ! container em alta --------------------------------------------- */
/* todo -- deixar o width do conteúdo ser ajustado automaticamente pelo javascript pela quantidade de cards nessa categoria.  */

#container_em_alta {
  margin-left: 16px;
  height: 181px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container_title {
  color: white;
  font-weight: 300;
  font-size: 20px;
}

h4 {
  color: white;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 24px;
}

#container_cards_em_alta {
  /* todo -- Aqui foi definido o o overflow do elemento que contem os elementos filhos. */
  display: grid;
  grid-auto-flow: column;
  column-gap: 16px;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.snaps_inline {
  scroll-snap-type: inline mandatory;
  /* todo - foi criado uma classe especifica para o snap que irá ocorrer no elemento pai. */
}

.snaps_inline > * {
  /* todo --- Aqui é definido em que ponto o snap deve correr o elemento, ou seja, se o scroll deixar um elemento na metade do fim do elemento pai, o snap irá o correr até o ponto aqui definido (nesse caso é o começo do elemento filho) */
  scroll-snap-align: start;
}

#container_cards_em_alta::-webkit-scrollbar {
  /* todo --- comando para esconder a barra de rolagem */
  display: none;
}

#container_cards_em_alta .card_em_alta {
  width: 240px;
  height: 140px;
  border-radius: 8px;
  position: relative;
  background-image: url('./assets/thumbnails/112/regular/small.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container_informacoes {
  width: 240px;
  height: 70px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.0001) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
  position: absolute;
  bottom: 0;
  border-radius: 0 0 8px 8px;
  color: white;
  display: flex;
  align-items: center;
}

.informacoes_details {
  width: 142px;
  height: 38px;
  margin: 16px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first_row {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.first_row p,
ul {
  font-size: 12px;
  font-weight: 300;
  color: white;
  opacity: 0.75;
}

ul {
  display: flex;
  column-gap: 8px;
  list-style-type: none;
}

ul li:first-child {
  display: flex;
  align-items: center;
  column-gap: 6px;
}

ul img {
  width: 12px;
  height: 12px;
}

.card_em_alta .card_title {
  font-size: 15px;
  font-weight: 500;
  width: 200px;
}
/* Container bookmark */
.bookmark_container {
  width: 32px;
  height: 32px;
  background: rgb(16, 20, 30, 0.5);
  border-radius: 50%;
  display: grid;
  place-content: center;
  position: absolute;
  right: 8px;
  top: 8px;
}

/* ! Container recomendados ------------------------------------------- */
#container_recomendado {
  width: 343px;
  height: auto;
  margin: 24px auto 0 auto;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

#container_recomendado .container_title {
  margin-bottom: 24px;
}

#container_cards_recomendados {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 16px;
}

.card_uso_geral,
.card_resultado {
  width: 164px;
  height: 154px;
  position: relative;
}

.container_imagem,
.container_imagem_resultado,
.container_img_pesquisa {
  width: 164px;
  height: 110px;
  border-radius: 8px;
  background-image: url('./assets/thumbnails/112/regular/small.jpg');
  background-position: center;
  background-size: cover;
  margin-bottom: 8px;
}

.container_informacoes_recomendadom,
.container_informacoes_resultado {
  width: 160px;
  height: 38px;
  margin-top: 8px;
}

.card_uso_geral .card_title,
.card_resultado .card_title {
  font-size: 14px;
  font-weight: 500;
  color: white;
  margin-top: 4px;
}

#container_recomendado .container_informacoes {
  width: 112px;
}

/* !Containers resultado -------------------------------------------------- */
#container_resultado_pesquisa {
  display: none;
  margin-bottom: 24px;
  gap: 15px;
  margin: 0 15px;
  flex-wrap: wrap;
}

#container_cards_resultado {
  width: 373px;
  /* min-height: 611px; */
  background: #10141e;
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 16px;
  row-gap: 16px;
}

/*! < --- Página bookmark --- > ================================ */
#container_pai_filmes,
#container_pai_tv {
  margin: 24px 16px 0 16px;
}

.container_cards_recomendados {
  margin-bottom: 1rem;
}

#container_pesquisa_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

/* ! Container Filmes --------------------------------------------- */
#container_cards_filmes {
  width: 343px;
  /* margin: 0 auto; */
  display: flex;
  gap: 16px 10px;
  flex-wrap: wrap;
}

/* ! Containers filmes e movies bookmarks ---------------------------------- */

#container_cards_filmes_bookmark,
#container_cards_series_bookmark {
  display: flex;
  width: 343px;
  flex-wrap: wrap;
  gap: 16px 10px;
}

/* ! Media Queries ----------------------------------------------- */
@media (min-width: 1024px) {
  /* Container -------- */
  #container {
    width: 768px;
  }

  nav {
    width: 719px;
    margin: 23px auto 0 auto;
  }

  nav #nav_icons_container {
    display: flex;
    column-gap: 32px;
  }

  #nav_icons_container img {
    width: 20px;
  }

  #logo_img {
    width: 32px;
    height: 25.5px;
  }

  #imagem_usuario {
    width: 32px;
    height: 32px;
  }

  /* !Search bar ----- */

  #container_pesquisa {
    width: 421px;
    height: 30px;
  }

  #search_input {
    font-size: 1.5rem;
    width: 470px;
  }

  /* ! Container em alta --- */
  #container_em_alta {
    height: 295px;
    margin-left: 25px;
  }

  .container_title {
    font-size: 2rem;
  }

  #container_cards_em_alta .card_em_alta {
    width: 470px;
    height: 230px;
  }

  .container_informacoes {
    width: 470px;
    height: 100px;
  }

  .first_row {
    column-gap: 19px;
  }

  .card_em_alta ul {
    column-gap: 19px;
  }

  .first_row p,
  ul {
    font-size: 15px;
  }

  .card_em_alta .card_title {
    font-size: 1.5rem;
  }

  .card_em_alta .bookmark_container {
    top: 16px;
    right: 24px;
  }

  /* ! Container recomendados -------------- */

  #container_recomendado {
    width: 719px;
  }

  #container_cards_filmes {
    width: 719px;
    column-gap: 27px;
  }

  #container_cards_recomendados {
    row-gap: 24px;
  }

  .card_uso_geral,
  .card_resultado {
    width: 220px;
    height: 192px;
  }

  .container_imagem,
  .container_imagem_resultado,
  .container_img_pesquisa {
    width: 220px;
    height: 140px;
  }

  .card_uso_geral .card_title,
  .card_resultado .card_title {
    font-size: 18px;
  }

  /*! Container resultado ------------- */
  #container_resultado_pesquisa {
    display: grid;
    place-content: flex-start;
    gap: 16px 29px;
    padding-left: 10px;
    display: none;
  }

  #container_cards_resultado {
    gap: 16px 29px;
  }

  #container_cards_resultado .card_resultado {
    width: 220px;
    height: 192px;
  }

  #container_cards_filmes_bookmark .card_resultado,
  #container_cards_series_bookmark .card_resultado {
  }

  /* ! Container movies and tvseries bookmark */

  #container_cards_filmes_bookmark,
  #container_cards_series_bookmark {
    width: 719px;
    gap: 24px 27px;
  }
}

@media (min-width: 1440px) {
  #container_cards_filmes_bookmark,
  #container_cards_series_bookmark {
    width: 1240px;
  }

  #container {
    width: 1440px;
    position: relative;
  }

  nav {
    width: 96px;
    height: 960px;
    flex-direction: column;
    padding: 35.41px 0;
    position: absolute;
    left: 0;
    top: 0;
  }

  nav #nav_icons_container {
    flex-direction: column;
    row-gap: 40px;
  }

  /* ! Container Pesquisa ---------------------------- */

  #container_pesquisa {
    position: absolute;

    top: -7px;
    left: 116px;
  }

  /* ! Container em alta ----------------------------- */
  #container_em_alta {
    height: 295px;
    width: 1500px;
    margin-left: 150px;
    margin: 90px 0 0 150px;
  }

  #container_recomendado {
    position: absolute;
    width: 1240px;
    top: 1200px;
    left: 53%;
    transform: translate(-50%, -50%);
  }

  /* ! Container cards recomendados --------------------- */

  #container_cards_recomendados {
    row-gap: 32px;
    column-gap: 40px;
  }

  .card_uso_geral,
  .card_resultado {
    width: 280px;
    height: 226px;
  }

  .container_imagem,
  .container_imagem_resultado,
  .container_img_pesquisa {
    width: 280px;
    height: 174px;
  }

  #container_resultado_pesquisa {
    margin-left: 140px;
    margin: 100px 0 0 140px;
  }

  #container_cards_resultado .card_resultado {
    width: 280px;
    height: 174px;
  }

  #container_pai_filmes {
    width: 1240px;
    margin-left: 160px;
  }

  .container_filmes {
    display: flex;
  }

  #container_cards_filmes {
    width: 1240px;
    column-gap: 27px;
  }

  #container_pai_filmes {
    position: absolute;
    top: 70px;
    left: -15px;
  }

  #container_pai_tv {
    position: absolute;
    top: 400px;
    left: 130px;
  }
}
