@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
}

body {
  display: grid;
  place-content: center;
  background: #10141e;
}

#container {
  min-height: 667px;
  border: 1px solid lightgray;
  width: 375px;
  margin-bottom: 2rem;
}

/*! nav ----------------------------------------------------- */

nav {
  width: 375px;
  height: 49px;
  background: #161d2f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

#logo_img,
#nav_icons_container,
#imagem_usuario {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

nav #nav_icons_container {
  display: flex;
  column-gap: 24px;
}

#nav_icons_container img {
  width: 16px;
}

#logo_img {
  width: 25px;
  height: 17.5px;
}

#imagem_usuario {
  width: 24px;
  height: 21px;
}

/* ! Search bar -------------------------------------------------- */

#container_pesquisa {
  width: 257px;
  height: 24px;
  margin: 31px 0 24px 16px;
  display: flex;
}

#search_input {
  margin-left: 19px;
  width: 250px;
  font-size: 1rem;
  font-weight: 300;
  background: none;
  border: none;
  color: white;
  opacity: 0.5;
}

#search_input:focus {
  color: white;
  opacity: 1;
  border: none;
  outline: none;
}

/* ! container em alta --------------------------------------------- */
/* todo -- deixar o width do conteúdo ser ajustado automaticamente pelo javascript pela quantidade de cards nessa categoria.  */

#container_em_alta {
  margin-left: 16px;
  height: 181px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}

.container_title {
  color: white;
  font-weight: 300;
  font-size: 20px;
}

#container_cards_em_alta {
  /* todo -- Aqui foi definido o o overflow do elemento que contem os elementos filhos. */
  display: grid;
  grid-auto-flow: column;
  column-gap: 16px;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.snaps_inline {
  scroll-snap-type: inline mandatory;
  /* todo - foi criado uma classe especifica para o snap que irá ocorrer no elemento pai. */
}

.snaps_inline > * {
  /* todo --- Aqui é definido em que ponto o snap deve correr o elemento, ou seja, se o scroll deixar um elemento na metade do fim do elemento pai, o snap irá o correr até o ponto aqui definido (nesse caso é o começo do elemento filho) */
  scroll-snap-align: start;
}

#container_cards_em_alta::-webkit-scrollbar {
  /* todo --- comando para esconder a barra de rolagem */
  display: none;
}

#container_cards_em_alta .card_em_alta {
  width: 240px;
  height: 140px;
  border-radius: 8px;
  position: relative;
  background-image: url('./assets/thumbnails/112/regular/small.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container_informacoes {
  width: 240px;
  height: 70px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.0001) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
  position: absolute;
  bottom: 0;
  border-radius: 0 0 8px 8px;
  color: white;
}

.informacoes_details {
  width: 142px;
  height: 38px;
  margin: 16px 16px;
}

.first_row {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.first_row p,
ul {
  font-size: 12px;
  font-weight: 300;
  color: white;
  opacity: 0.75;
}

ul {
  display: flex;
  column-gap: 16px;
  list-style-type: none;
}

ul li:first-child {
  display: flex;
  align-items: center;
  column-gap: 6px;
}

ul img {
  width: 12px;
  height: 12px;
}

.card_em_alta .card_title {
  font-size: 15px;
  font-weight: 500;
  width: 200px;
}
/* Container bookmark */
.bookmark_container {
  width: 32px;
  height: 32px;
  background: rgb(16, 20, 30, 0.5);
  border-radius: 50%;
  display: grid;
  place-content: center;
  position: absolute;
  right: 8px;
  top: 8px;
}

/* ! Container recomendados ------------------------------------------- */
#container_recomendado {
  width: 343px;
  height: auto;
  margin: 24px auto 0 auto;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  display: none;
}

#container_recomendado .container_title {
  margin-bottom: 24px;
}

#container_cards_recomendados {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 16px;
}

.card_uso_geral {
  width: 164px;
  height: 154px;
  position: relative;
}

.container_imagem {
  width: 164px;
  height: 110px;
  border-radius: 8px;
  background-image: url('./assets/thumbnails/112/regular/small.jpg');
  background-position: center;
  background-size: cover;
}

.container_informacoes_recomendado {
  width: 160px;
  height: 38px;
  margin-top: 8px;
}

.card_uso_geral .card_title {
  font-size: 14px;
  font-weight: 500;
  color: white;
  margin-top: 4px;
}

#container_recomendado .container_informacoes {
  width: 112px;
}

/* !Containers resultado -------------------------------------------------- */
#container_cards_resultado {
  width: 373px;
  /* min-height: 611px; */
  background: #10141e;
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 16px;
}
